services: 
  db: 
    image: postgres:17-alpine
    container_name: mbti-postgres
    restart: always
    environment: 
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mbti_db
    ports:
      - "5432:5432"
    volumes: 
      - postgres_data:/var/lib/postgresql/data
  
volumes: 
  postgres_data: